<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.slackers.inc.ui.web.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutocompleteServlet</servlet-name>
        <servlet-class>com.slackers.inc.ui.web.liveUpdate.SearchBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeSearchServlet</servlet-name>
        <servlet-class>com.slackers.inc.ui.web.liveUpdate.EmployeeSearchBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTBACKServlet</servlet-name>
        <servlet-class>com.slackers.inc.ui.web.liveUpdate.CTBackend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORBACKServlet</servlet-name>
        <servlet-class>com.slackers.inc.ui.web.liveUpdate.ORBackend</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SuperSlackers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutocompleteServlet</servlet-name>
        <url-pattern>/search/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeSearchServlet</servlet-name>
        <url-pattern>/search/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORBACKServlet</servlet-name>
        <url-pattern>/search/OR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTBACKServlet</servlet-name>
        <url-pattern>/search/CT</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            600
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SuperSlackers</welcome-file>
    </welcome-file-list>
</web-app>
