<div class="container-fluid col-md-10 col-md-offset-1">
    <h1>
        <span>Process List</span>
        <button class='btn btn-primary col-md-2 pull-right'>Get More</button>
    </h1>
    <br>
    </br>
    <div class="panel-group" id="applicationAccordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        <a data-toggle="collapse" data-parent="#applicationAccordion" href="#collapse1" style="font-size: 20px;">Drink 1</a>                   
                    </div>
                    <div class="col-md-1 pull-right">
                        <button class='btn btn-primary btn-block'>Review</button>

                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">Drink information</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        <a data-toggle="collapse" data-parent="#applicationAccordion" href="#collapse1" style="font-size: 20px;">Drink 2</a>                   
                    </div>
                    <div class="col-md-1 pull-right">
                        <button class='btn btn-primary btn-block'>Review</button>

                    </div>
                </div>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">Drink information</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        <a data-toggle="collapse" data-parent="#applicationAccordion" href="#collapse1" style="font-size: 20px;">Drink 3</a>                   
                    </div>
                    <div class="col-md-1 pull-right">
                        <button class='btn btn-primary btn-block'>Review</button>

                    </div>
                </div>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">drink information</div>
            </div>
        </div>
    </div> 
</div>

