<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            function validateForm() {
                var firstName = document.forms["createAccount"]["fName"].value;
                var lastName = document.forms["createAccount"]["lName"].value;
                var pass1 = document.forms["createAccount"]["pwd"].value;
                var pass2 = document.forms["createAccount"]["pwd2"].value;
                if (firstName == "") {document.getElementById("fName").style="background-color: #ff8888";}
                else {document.getElementById("fName").style="background-color: #ffffff";}
                if (lastName == "") {document.getElementById("lName").style="background-color: #ff8888";}
                else {document.getElementById("lName").style="background-color: #ffffff";}
                if (pass1 != pass2) {
                    document.getElement("pwd2").style="background-color: #ff8888";
                }
            }
        </script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
</html>
<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm">
        </div>
        <div class="col-md-6 col-sm-12"> 
            <div class="well well-lg">
                <div align="center">
                    <h2>Create Account</h2>
                    <br>
                    <br>
                </div>
                <div>
                    <form name="createAccount" action="signup" method="post">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5" id="FirstName">
                                <label for="fName">First Name:</label>
                                <input name="fName" type="text" class="form-control" id="fName" placeholder="First name" required>
                            </div>
                            <div class="col-md-5">
                                <label for="lName">Last Name:</label>
                                <input name="lName" type="text" class="form-control" id="lName" placeholder="Last name" required>
                            </div>
                            <div class="col-md-1">                            
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <label for="email">Email:</label>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <label for="pwd">Password:</label>
                                <input name="password" type="password" class="form-control" id="pwd" placeholder="Enter password" required>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <label for="pwd">Re-type Password:</label>
                                <input name="password2" type="password" class="form-control" id="pwd2" placeholder="Re-Enter password" required>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <div class="form-group" align="center">
                                    <label class="radio-inline"><input type="radio" name="uType" value="manufacturer" checked>Manufacturer</label>
                                    <label class="radio-inline"><input type="radio" name="uType" value="employee">Employee</label>
                                </div>
                                <button onclick="validateForm()" type="submit" class="btn btn-primary" style="width:100%;">Create Account</button>
                            </div>
                            <div class="col-md-1">
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-sm">
        </div>
    </div>    
</div>
