<div class="container">
    <div class="well well-lg">
        <div align="center">
            <h2>Super Slackers</h2>
        </div>
        <div>
            <form action="signup" method="post">
                <div class="form-group">
                    <label for="fName">Name:</label>
                    <input name="fname" type="text" class="form-control" id="fName" placeholder="First name">
                    <input name="lname" type="text" class="form-control" id="lName" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input name="password" type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="uType" value="manufacturer" checked>Manufacturer</label>
                    <label class="radio-inline"><input type="radio" name="uType" value="employee">Employee</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
