<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6" align="right">
                <div class="dropdown" style="float: right;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Form View
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="btn btn-warning" type="button" style="width:100%;" data-toggle="dropdown" onClick="setCookie('SSVIEW_MODE', 'legacy', 5); location.reload();" >Legacy View</button>
                        </li>
                        <li>
                            <button class="btn btn-warning" type="button" style="width:100%;" data-toggle="dropdown" onClick="setCookie('SSVIEW_MODE', 'modern', 5); location.reload();">Modern View</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <form action="/SuperSlackers/form/edit" method="post">
            <fieldset id="appForm" disabled>
                ##FORM_CONTENT
            </fieldset>
        </form>  
        <!--<div class="row">
            <div class="col-sm-1 col-md-2">
            </div>
            <div class="col-sm-10 col-md-8">
                <img id="lblImg" src="##LABEL_IMAGE_PATH" class="img-responsive" alt="Label Image">
            </div>
            <div class="col-sm-1 col-md-2">
            </div>                
        </div>-->
    </div>
    <div class="well">
        <form action="/SuperSlackers/form/edit?id=##ID" method="post" enctype="multipart/form-data">
            <h3>Allowed Revisions</h3><br>
            <div class="funkyradio">
                <div class="funkyradio-success">
                    <input class="tag-new-label" type="checkbox" name="rev1" id="rev1" onclick="handleRevisionDisplays()"/>
                    <label for="rev1">Delete any non mandatory label information, including text, illustrations, graphics, etc.</label>
                </div>
                <div class="funkyradio-success">
                    <input class="tag-new-label" type="checkbox" name="rev2" id="rev2" onclick="handleRevisionDisplays()"/>
                    <label for="rev2">Reposition any label information including text, illustrations, graphics, etc.</label>
                </div>
                <div class="funkyradio-success">
                    <input class="tag-new-label" type="checkbox" name="rev3" id="rev3" onclick="handleRevisionDisplays()"/>
                    <label for="rev3">Change the colors, shapes, sizes, etc. of the label to make it easier to read.</label>
                </div>
                <div class="funkyradio-success tag-wine">
                    <input class="tag-wine-blend tag-new-label" type="checkbox" name="rev4" id="rev4" onclick="handleRevisionDisplays()"/>
                    <label for="rev4">Change the stated percentages for blends of grape varietals and appelations of origin.</label>
                </div>
                <div class="funkyradio-success tag-wine">
                    <input class="tag-wine-vintage tag-new-label" type="checkbox" name="rev5" id="rev5" onclick="handleRevisionDisplays()"/>
                    <label for="rev5">Add, change or delete a vintage date.</label>
                </div>
                <div class="funkyradio-success tag-wine">
                    <input class="tag-new-label" type="checkbox" name="rev6" id="rev6" onclick="handleRevisionDisplays()"/>
                    <label for="rev6">Change the optional "produced" or "made" by statements to "blended", "vinted", "cellared" or "prepared" by statements</label>
                </div>
                <div class="funkyradio-success tag-wine">
                    <input class="tag-wine-ph tag-new-label" type="checkbox" name="rev7" id="rev7" onclick="handleRevisionDisplays()"/>
                    <label for="rev7">Add, change or delete the stated amount of acid or the pH level.</label>
                </div>
                <div class="funkyradio-success tag-wine">
                    <input class="tag-general tag-new-label" type="checkbox" name="rev8" id="rev8" onclick="handleRevisionDisplays()"/>
                    <label for="rev8">Change the stated amounts of sugar at harvest or residual sugar.</label>
                </div>
                <div class="funkyradio-success tag-wine">
                    <input class="tag-new-label" type="checkbox" name="rev9" id="rev9" onclick="handleRevisionDisplays()"/>
                    <label for="rev9">Add or delete bonded winery or taxpaid wine bottling house numbers on label.</label>
                </div>
                <div class="funkyradio-success">
                    <input class="tag-formula tag-new-label" type="checkbox" name="rev10" id="rev10" onclick="handleRevisionDisplays()"/>
                    <label for="rev10">Change the net contents statement.</label>
                </div>
                <div class="funkyradio-success">
                    <input class="tag-alcohol tag-new-label" type="checkbox" name="rev11" id="rev11" onclick="handleRevisionDisplays()"/>
                    <label for="rev11">Change the mandatory alcohol content as permitted in the labeled type and class designation.</label>
                </div>
                <div class="funkyradio-success tag-beer">
                    <input class="tag-new-label" type="checkbox" name="rev12" id="rev12" onclick="handleRevisionDisplays()"/>
                    <label for="rev12">Add, change or delete an optional statement of alcohol content.</label>
                </div>

                <div class="funkyradio-success tag-distilled">
                    <input class="tag-new-label tag-general" type="checkbox" name="rev13" id="rev13" onclick="handleRevisionDisplays()"/>
                    <label for="rev13">Change the statement of percentage of neutral spirits and the name of the commodity from which a distilled spirit is produced.</label>
                </div>
                <div class="funkyradio-success tag-distilled">
                    <input class="tag-new-label" type="checkbox" name="rev14" id="rev14" onclick="handleRevisionDisplays()"/>
                    <label for="rev14">Add, change or delete the age statement for distilled spirits.</label>
                </div>
                <div class="funkyradio-success tag-beer tag-wine">
                    <input class="tag-new-label" type="checkbox" name="rev15" id="rev15" onclick="handleRevisionDisplays()"/>
                    <label for="rev15">Delete or change an optional age statement.</label>
                </div>
                <div class="funkyradio-success tag-beer">
                    <input class="tag-new-label" type="checkbox" name="rev16" id="rev16" onclick="handleRevisionDisplays()"/>
                    <label for="rev16">Add change or delete statements to meet requirements for the state in which the beverage will be sold.</label>
                </div>
                <div class="funkyradio-success">
                    <input class="tag-new-label tag-general" type="checkbox" name="rev17" id="rev17" onclick="handleRevisionDisplays()"/>
                    <label for="rev17">Add a new Serving Facts statement or change the numerical values for nutritional information already on the label.</label>
                </div>
                <div class="funkyradio-success">
                    <input class="tag-new-label" type="checkbox" name="rev18" id="rev18" onclick="handleRevisionDisplays()"/>
                    <label for="rev18">Add, change or delete bottling date, production date or freshness information.</label>
                </div>

                <div class="funkyradio-success">
                    <input class="tag-new-label tag-brandName" type="checkbox" name="rev19" id="rev19" onclick="handleRevisionDisplays()"/>
                    <label for="rev19">Change the name or trade name to reflect a different name already approved for use by the applicant.</label>
                </div>
                <div class="funkyradio-success">
                    <input class="tag-new-label tag-address" type="checkbox" name="rev20" id="rev20" onclick="handleRevisionDisplays()"/>
                    <label for="rev20">Add, change or delete the name or address of the foreign producer, bottler or shipper.</label>
                </div>
            </div>

            <br><br>
            <div id="tag-address-div">
                <div class="form-group">
                    <label>Application Address</label>
                    <textarea id="address-new" name="address-new" class="form-control tag-address-div-input" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Mailing Address</label>
                    <textarea id="mailAddress-new" name="mailAddress-new" class="form-control tag-address-div-input" rows="3"></textarea>
                </div>
            </div>
            <div id="tag-alcohol-div">
                <div class="form-group">
                    <label>Alcohol Content</label>
                    <input id="alcoholContent-new" name="alcoholContent-new" class="form-control tag-alcohol-div-input" placeholder="0-100%" type="text">
                </div>
            </div>
            <div id="tag-brandName-div">
                <div class="form-group">
                    <label>Brand Name</label>
                    <input id="brandName-new" name="brandName-new" class="form-control tag-brandName-div-input" type="text">
                </div>
                <div class="form-group">
                    <label>Fanciful Name</label>
                    <input id="fancifulName-new" name="fancifulName-new" class="form-control" type="text">
                </div>
            </div>
            <div id="tag-wine-vintage-div">
                <div class="form-group">
                    <label>Vintage</label>
                    <input id="vintage-new" name="vintage-new" class="form-control tag-wine-vingage-div-input" placeholder="year" type="text" required>
                </div>
            </div>
            <div id="tag-wine-ph-div">
                <div class="form-group">
                    <label>pH Level</label>
                    <input id="pH-new" name="pH-new" class="form-control tag-wine-ph-div-input" placeholder="pH" type="text" required>
                </div>
            </div>
            <div id="tag-wine-blend-div">
                <div class="form-group">
                    <label>Grape Varietal</label>
                    <input id="grapeVarietal-new" name="grapeVarietal-new" class="form-control tag-wine-blend-div-input" placeholder="Grape Varietal" type="text" required>
                </div>
                <div class="form-group">
                    <label>Wine Appellation</label>
                    <input id="wineAppelation-new" name="wineAppelation-new" class="form-control tag-wine-blend-div-input" placeholder="Wine Appelation" type="text">
                </div>
            </div>
            <div id="tag-formula-div">
                <div class="form-group">
                    <label>Formula</label>
                    <textarea id="formula-new" name="formula-new" class="form-control tag-formula-div-input" rows="4" required></textarea>
                </div>
            </div>
            <div id="tag-general-div">
                <div class="form-group">
                    <label>Write any information below, not on the label that is on the container.</label>
                    <textarea id="generalInfo-new" name="generalInfo-new" class="form-control tag-general-div-input" rows="4"></textarea>
                </div>
            </div>
            <div id="tag-new-label-div"> 
                <label for="imgSelector-new">Label Image</label>
                <input id="imgSelector-new" class="tag-new-label-div-input" type="file" name="labelImageUpload-new" accept=".png,.jpg,.jpeg,image/png,image/jpeg" required>
            </div>
            <button id="submitRevisions" class="btn btn-success" style="width:100%; margin-top: 30px;">Submit Revisions</button>
        </form>

    </div>
    <script>
        fillForm();
    </script>
</div>
