
<div class="container-fluid col-md-10 col-md-offset-1 well span8">
	<div class = "row">
		<div class="col-md-2">
			<label>Representative ID:</label>
		</div>
		
		<div class="col-md-2">
			<p>##RepID</p>
		</div>


		<div class="col-md-2">
			<label>Application Progress:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>
	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Brand Name:</label>
		</div>
		
		<div class="col-md-2">
			<p>##BrandName</p>
		</div>


		<div class="col-md-2">
			<label>Name of Agent:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>

	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Type:</label>
		</div>
		
		<div class="col-md-2">
			<p>##Type</p>
		</div>


		<div class="col-md-2">
			<label>Date of Approval:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>

	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Alcohol Content:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>


		<div class="col-md-2">
			<label>Expiration:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>

	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Source of Product:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>


		<div class="col-md-2">
			<label>Other Stuff:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>
</div>
