<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Bootstrap Example</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container-fluid col-md-10 col-md-offset-1 well span8">
	<div class = "row">
		<div class="col-md-2">
			<label>Representative ID:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>


		<div class="col-md-2">
			<label>Application Progress:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>
	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Brand Name:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>


		<div class="col-md-2">
			<label>Name of Agent:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>

	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Type:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>


		<div class="col-md-2">
			<label>Date of Approval:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>

	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Alcohol Content:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>


		<div class="col-md-2">
			<label>Expiration:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>

	<br>
	<div class = "row">
		<div class="col-md-2">
			<label>Source of Product:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>


		<div class="col-md-2">
			<label>Other Stuff:</label>
		</div>
		
		<div class="col-md-2">
			<p>Representative ID</p>
		</div>
	</div>
</div>
