<div class="container">
    <div align="center">
    <h2>SUP3R SLACK3RS INC.</h2>
    
    <img src="home_page_wines_and_beers.jpg" alt="Wines and Beers" style="width:304px;height:228px;">
    <p></p>
    
    <br>
    <br>
        <div class="btn-group" data-toggle="buttons"  align="center"> 
            <a href="#"  id = "how-it-works-input" class="btn btn-default" style="color:#e95420;"
                       onclick="document.getElementById('how-it-works').style.display = 'block';
                                document.getElementById('FAQ').style.display = 'none';
                                document.getElementById('companies').style.display = 'none';">
                          How Does This Process Work?</a>
               <a href="#"  id = "faq-input" class="btn btn-default" style="color:#e95420;"
                       onclick="document.getElementById('how-it-works').style.display = 'none';
                                document.getElementById('FAQ').style.display = 'block';
                                document.getElementById('companies').style.display = 'none';">
                FAQ </a>
                <a href="#"  id = "companies-input" class="btn btn-default" style="color:#e95420;"
                       onclick="document.getElementById('how-it-works').style.display = 'none';
                                document.getElementById('FAQ').style.display = 'none';
                                document.getElementById('companies').style.display = 'block';">
                Companies We Have Serviced</a> 
        </div>
    
    <div id="how-it-works" style="display:none;">
        <hr>
        <h3>Search for a Beverage</h3>
        <p>You can search for a beverage using the search page and filling out the search information.</p>
        <h3>Create an Account</h3>
        <p>You can sign up as a manufacurer or US employee in order to gain access to more function.</p>
        <h3>Submiting a Label</h3>
        <p>Once you have signed up as a manufacturer, you can then create an application and submit it to be reviewed by a US employee.</p>
        <h3>Reviewing Applications</h3>
        <p>As a US employee, you will be able to approve or reject applications made by manufacurers.</p>
        
        
        <br>
    </div>
    
    <div id="FAQ" style="display:none;">   
        <hr>
        <h3>I submitted a label application a week ago. Did it not go through?</h3>
        <p>It may take several weeks to process your application. If 
        you are worried that it did not get through the system, go to our help page.</p>
        
        <h3>There were errors in my label application. Can I edit it?</h3>
        <p>Yes. You can revise your application by clicking the edit button on the application you would like to edit</p>
        
        <h3>Is there a way to make sure my label was approved?</h3>
        <p>You should be able to see if your application was approved or rejected. However, if
        you are unsure, you can use the COLA search to look up your label.</p>
        
        <h3>I'm having trouble submitting an application. What do I do?</h3>
        <p>You can go to our help page or call 373-337-3337 for more information.</p>
        <br>
    </div>
    
    <div id="companies" style="display:none;">
        
        <h1>Wong Industries</h1>
        <h1>Valcourt Enterprise</h1>
        <h1>Software Engineering</h1>
        <br>
    </div>
    </div>
</div>