<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/SuperSlackers/home">SUP3R SLACK3rs</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/SuperSlackers/search">Search</a>
                </li>
                <li>
                    <a class="page-scroll" href="/SuperSlackers/account/signup">Sign Up</a>
                </li>
                <li>
                    <a class="page-scroll" href="/SuperSlackers/account/login">Log In</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">About Us / FAQ</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">SUP3R SLACK3rs - Redesigned</h1>
            <hr>
            <p>Visit Our New Website For All Your Alcohol Needs</p>
            <a href="" class="btn btn-primary btn-xl page-scroll">Login | Sign Up</a>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-list-alt text-primary sr-icons"></i>
                    <h3>Label Applications</h3>
                    <p class="text-muted">Sign In to Manage Applications for Labels</p>
                    <br />
                    <a href="#" class="link">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart text-primary sr-icons"></i>
                    <h3>Enforcement</h3>
                    <p class="text-muted">Check How We Enforce Our Policies to our Constituents</p>
                    <br />
                    <a href="#" class="link">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake-o text-primary sr-icons"></i>
                    <h3>FAQ</h3>
                    <p class="text-muted">Have any Questions? First Check the FAQ Before Asking</p>
                    <br />
                    <a href="#" class="link">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search text-primary sr-icons"></i>
                    <h3>Search</h3>
                    <p class="text-muted">Look for Labels and Info of Your Favorite Drinks</p>
                    <br />
                    <a href="#" class="link">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id ="news">
    <div class="container">
        <div class="row">
            <div id="myCarousel" class="row carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Illegal Importer of Cigarettes Incarcerated</h4>
                                    <p>April 18, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Newsletter for 2nd Week of April</h4>
                                    <p>April 14, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Upcoming Changes to Search: File Types</h4>
                                    <p>April 14, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Newsletter for First Week of April</h4>
                                    <p>April 07, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide1 -->

                    <div class="item">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/300x300" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Newsletter for Last Week of March</h4>
                                    <p>March 31, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Important Web Browser Compatibility Notices</h4>
                                    <p>March 30, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Newsletter for Third Week of March</h4>
                                    <p>March 24, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                </div>
                                <div class="caption-box">
                                    <h4>Newsletter for Second Week of March</h4>
                                    <p>March 17, 2017</p>
                                    <a class="btn btn-success btn-mini" href="#">Read More</a>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide2 -->
                </div><!-- /Wrapper for slides .carousel-inner -->

                <!-- Control box -->
                <div class="control-box">
                    <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                    <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                </div><!-- /.control-box -->

            </div><!-- /#myCarousel -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-3 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/types/beveragealcohol.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Beverage Alcohol
                            </div>
                            <div class="project-category text-faded">
                                Resources for Beer, Wine, Distilled Spirits, Sake, and Kombucha
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/types/nonbeveragealcohol.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Non-Beverage Alcohol
                            </div>
                            <div class="project-category text-faded">
                                Resources for Alcohol Fuel, Industrial Alcohol, Nonbeverage Products, and Tax-Free Alcohol
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/types/tobacco.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Non-Beverage Alcohol
                            </div>
                            <div class="project-category text-faded">
                                Resources for Alcohol Fuel, Industrial Alcohol, Nonbeverage Products, and Tax-Free Alcohol
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/types/firearmsandammunition.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Non-Beverage Alcohol
                            </div>
                            <div class="project-category text-faded">
                                Resources for Alcohol Fuel, Industrial Alcohol, Nonbeverage Products, and Tax-Free Alcohol
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="jquery-3.2.0.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/creative.min.js"></script>