<div style="width:650px;">
    <div class="data" align="right"><strong>OMB No. 1513-0020</strong></div>
    <table width="100%" border="2" cellspacing="0" cellpadding="2">
        <tbody><tr>
                <td width="40%" height="28"> 
                    <div class="sectionhead">FOR TTB USE ONLY</div>
                </td>
                <td width="60%" rowspan="3" bordercolor="1"> 
                    <div class="medhead">DEPARTMENT OF THE TREASURY</div>
                    <div class="smhead">ALCOHOL AND TOBACCO TAX AND TRADE BUREAU</div>
                    <div class="lghead">APPLICATION FOR AND CERTIFICATION/EXEMPTION OF LABEL/BOTTLE APPROVAL</div>
                    <div class="smhead">(See Instructions and Paperwork Reduction Act Notice on Back)</div>
                </td>   
            </tr>
            <tr>
                <td width="40%" bgcolor="#cccccc" height="30" bordercolor="1"> 
                    <div class="label">TTB ID</div>
                    <div class="data">16309001000420</div>
                    <br>
                </td>
            </tr>
            <tr>
                <td width="40%" bgcolor="#FFFFFF"> 
                    <table width="100%" border="1" cellspacing="0" cellpadding="1">
                        <tbody><tr>
                                <td width="50%" bgcolor="#FFFFFF" bordercolor="1"> 
                                    <div class="boldlabel">1. REP. ID. NO.<i> (If any)</i></div>
                                    <div class="data"></div>
                                </td>
                                <td bgcolor="#cccccc" width="25%" bordercolor="1"> 
                                    <div class="label">CT</div>
                                    <div class="data">902</div>
                                    <br>
                                </td>
                                <td bgcolor="#cccccc" width="25%" bordercolor="1"> 
                                    <div class="label">OR</div>
                                    <div class="data">07</div>
                                    <br><i>
                                    </i></td>
                            </tr>   
                        </tbody></table>
                </td>
            </tr>
        </tbody></table>

    <!-- PART I TABLE -->
    <table width="100%" border="1" cellspacing="0" cellpadding="2">
        <tbody><tr>
                <td colspan="2">
                    <div class="sectionhead">PART I - APPLICATION</div>
                </td>

            </tr>
            <tr>

                <td width="40%"> 
                    <table width="100%" border="1" cellspacing="0" cellpadding="2">
                        <tbody><tr>
                                <td width="50%">
                                    <div class="boldlabel">2. PLANT REGISTRY/BASIC PERMIT/BREWER'S NO. <i>(Required)</i></div>
                                    <div class="data">            

                                        BR-WA-ELY-1
                                        <br>

                                        BR-CA-20003
                                        <br>

                                    </div>
                                </td>
                                <td width="50%">
                                    <div class="label">3. SOURCE OF PRODUCT <i>(Required)</i> </div>
                                    <table border="0" cellspacing="0" cellpadding="2">
                                        <tbody><tr> 
                                                <td width="5%" valign="top">

                                                    <input type="checkbox" disabled="true" value="" checked="" alt="Source of Product: Domestic">

                                                </td>
                                                <td width="95%" class="smalldata">Domestic</td>
                                            </tr>
                                            <tr>
                                                <td width="5%" valign="top">

                                                    <input type="checkbox" disabled="true" value="" alt="Source of Product: Imported">

                                                </td>
                                                <td width="95%" class="smalldata">Imported</td>
                                            </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                </td>

                <td width="60%" rowspan="2"> 
                    <div class="label">
                        8. NAME AND ADDRESS OF APPLICANT AS SHOWN ON PLANT 
                        REGISTRY, BASIC PERMIT OR BREWER'S NOTICE. INCLUDE APPROVED DBA OR TRADENAME 
                        IF USED ON LABEL <strong><i>(Required)</i></strong>
                    </div>
                    <br>
                    <div class="data">

                        ELYSIAN BREWING COMPANY, ELYSIAN BREWING COMPANY, INC.<br>
                        1221 E PIKE ST<br>
                        <br>
                        SEATTLE
                        WA 
                        98122<br>
                        <br>

                        ELYSIAN BREWING COMPANY&nbsp;(Used on label)

                    </div>
                </td>
            </tr>
            <tr>
                <td width="40%"> 
                    <table width="100%" border="1" cellspacing="0" cellpadding="2"> 
                        <tbody><tr>
                                <td width="50%">
                                    <div class="label">4. SERIAL NUMBER <i>(Required)</i></div>
                                    <div class="data">16E203</div>
                                    <br>
                                </td>        
                                <td width="60%">
                                    <div class="label">5. TYPE OF PRODUCT <i>(Required)</i> </div>

                                    <table border="0" cellspacing="0" cellpadding="2">
                                        <tbody><tr> 
                                                <td width="5%" valign="top">

                                                    <input type="checkbox" disabled="true" value="" alt="Type of Product: Wine">

                                                </td>
                                                <td width="95%" class="smalldata">WINE</td>
                                            </tr>
                                            <tr>
                                                <td width="5%" valign="top">

                                                    <input type="checkbox" disabled="true" value="" alt="Type of Product: Distilled Spirits">

                                                </td>
                                                <td width="95%" class="smalldata">DISTILLED SPIRITS</td>
                                            </tr>
                                            <tr>
                                                <td width="5%" valign="top">

                                                    <input type="checkbox" disabled="true" value="" checked="" alt="Type of Product: Malt Beverage">

                                                </td>
                                                <td width="95%" class="smalldata">MALT BEVERAGE</td>
                                            </tr>
                                        </tbody></table>             
                                    <br>
                                </td>
                            </tr>   
                        </tbody></table>
                </td>
            </tr>
            <tr>
                <td width="40%"> 
                    <div class="boldlabel">6. BRAND NAME <i>(Required)</i></div>
                    <div class="data">ELYSIAN BREWING COMPANY</div>
                </td>
                <td width="60%" rowspan="2"> 
                    <div class="label">8a. MAILING ADDRESS, IF DIFFERENT</div>
                    <div class="data"></div>
                </td>
            </tr>
            <tr>
                <td width="40%"> 
                    <div class="boldlabel">7. FANCIFUL NAME <i>(If any)</i></div>
                    <div class="data">THE IMMORTAL</div>
                </td>
            </tr>
        </tbody></table>

    <!-- Items 8-18 Table -->
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <tbody><tr>




                <td width="10%">
                    <div class="label">9. FORMULA</div>

                    <div class="data">
                    </div>




                </td>


                <td width="20%">
                    <div class="label">10. GRAPE VARIETAL(S) <i>(Wine Only)</i></div>
                    <div class="data">N/A</div>
                </td>

                <td width="50%" rowspan="3">
                    <div class="label">14. TYPE OF APPLICATION <i>(Check applicable box(es))</i></div>
                    <div class="data">

                        <table border="0" cellspacing="0" cellpadding="2">
                            <tbody><tr> 
                                    <td width="20%" valign="top"><p class="data">a. 

                                            <input type="checkbox" disabled="true" value="" checked="" alt="Type of Application">

                                        </p></td>
                                    <td width="80%" class="smalldata">CERTIFICATE OF LABEL APPROVAL</td>
                                </tr>
                                <tr>
                                    <td width="20%" valign="top"><p class="data">b. 

                                            <input type="checkbox" disabled="true" value="" alt="Certificate of label Approval">

                                        </p></td>
                                    <td width="80%" class="smalldata">
                                        CERTIFICATE OF EXEMPTION FROM LABEL APPROVAL <br>
                                        "For sale in ___<strong></strong>____ only" (Fill in State abbreviation.)
                                    </td>
                                </tr>
                                <tr>

                                    <td valign="top">
                                        <p class="data">c. 

                                            <input type="checkbox" disabled="true" value="" alt="Distinctive Liquor Bottle Approval">

                                        </p></td>
                                    <td class="smalldata">
                                        DISTINCTIVE LIQUOR BOTTLE APPROVAL. TOTAL 
                                        BOTTLE CAPACITY BEFORE CLOSURE ____
                                        <strong></strong>_____ (Fill in amount)
                                    </td>
                                </tr>
                                <tr>

                                    <td width="20%" valign="top"><p class="data">d. 

                                            <input type="checkbox" disabled="true" value="" alt="Previous TTB Id">

                                        </p></td>
                                    <td width="80%" class="smalldata">
                                        RESUBMISSION AFTER REJECTION <br>TTB ID. NO. ___<strong></strong>___
                                    </td>
                                </tr>
                            </tbody></table>
                    </div>
                </td>
            </tr>



            <tr>
                <td width="60%" colspan="2">
                    <div class="label">11. WINE APPELLATION <i>(If on label)</i></div>
                    <div class="data"></div>
                </td>
            </tr>
            <tr>
                <td width="20%"> 
                    <div class="label">12. PHONE NUMBER</div>
                    <div class="data">(314) 577-2693</div>
                </td>
                <td width="30%">
                    <div class="boldlabel">13. EMAIL ADDRESS</div>
                    <div class="data">&nbsp;


                    </div>
                </td>
            </tr>

            <tr>

                <td colspan="4">
                    <div class="data">15.  SHOW ANY INFORMATION THAT IS BLOWN, BRANDED, OR EMBOSSED ON THE CONTAINER (e.g., net contents) ONLY IF IT DOES NOT 
                        APPEAR ON THE LABELS AFFIXED BELOW.  ALSO, SHOW TRANSLATIONS OF FOREIGN LANGUAGE TEXT APPEARING ON LABELS.<br>
                        FRESHNESS DATE CODE AND CONSUMER INFORMATION (PHONE NUMBER, QR CODE, AND WEBSITE). KOSHER SYMBOL IF APPLICABLE TO BRAND. ANY WORDING REQUIRED BY STATES, SUCH AS, ALCOHOL CONTENT, DEPOSIT LANGUAGE, AND CONTAINS ALCOHOL MAY BE IMPRINTED ON THE LABEL OR OTHERWISE AFFIXED TO THE BOTTLE OR CAN. RETURNABLE OR NON-RETURNABLE MAY APPEAR ON BOTTLE LABELS. PLACE/DATE OF PRODUCTION AND/OR OTHER INTERNAL MANUFACTURER CODING IS USED BY ALL BREWERIES FOR ALL PRODUCTION RUNS.
                    </div>
                </td>

            </tr>
        </tbody></table>
</div>
