
<h3>General Information</h3><br>
<div class="row">
    <div class="col-sm-6">

        <div class="form-group">
            <label>Representative Id Number</label>
            <input name = "representativeId" class="form-control" placeholder="Representative ID" type="text">
        </div>

        <div class="form-group">
            <label>Plant Registry/Basic Permit/Brewer's No.</label>
            <input name = "plantNumber" class="form-control" placeholder="Value" type="text" required>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">                
            <label>Phone Number</label> 
            <input name="phone" class="form-control" placeholder="Phone Number" type="text" required> 
        </div>

        <div class="form-group">                
            <label>Email Address</label> 
            <input name="email" class="form-control" placeholder="E-Mail Address" type="text" required> 
        </div>
    </div>
</div>
<div class="form-group">
    <label>Application Address</label>
    <textarea name="formula" class="form-control" rows="3" id="adr" required></textarea>
</div>
<div class="form-group">
    <label>Mailing Address</label>
    <textarea name="mailAddress" class="form-control" rows="3" id="mailAdr"></textarea>
</div>

<hr>

<h3>Product Specific Information</h3><br>

<div class="row" style="margin-bottom:25px;">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Serial Number</label>
            <input name="serialNumber" class="form-control" placeholder="##-####" type="text" required>
        </div>
        <label style="margin-right:25px;">Product Source</label>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
                <input name="source" value="DOMESTIC" type="radio" checked>Domestic
            </label>
            <label class="btn btn-default">
                <input name="source" value="IMPORTED" type="radio">Imported
            </label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="btn-group-vertical" data-toggle="buttons" style="width:100%;">
            <label>Product Type</label>
            <label class="btn btn-default active" onclick="document.getElementById('wineInfo').style.display = 'none'">
                <input name="type" value="BEER" type="radio" checked>Beer
            </label>
            <label class="btn btn-default" onclick="document.getElementById('wineInfo').style.display = 'block'">
                <input name="type" value="WINE" type="radio">Wine
            </label>
            <label class="btn btn-default" onclick="document.getElementById('wineInfo').style.display = 'none'">
                <input name="type" value="DISTILLED" type="radio">Distilled
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <label>Brand Name</label>
    <input name="brandName" class="form-control" placeholder="Brand Name" type="text" required>
</div>
<div class="form-group">
    <label>Fanciful Name</label>
    <input name="fancifulName" class="form-control" placeholder="Fanciful Name" type="text">
</div>
<div class="form-group">
    <label>Formula</label>
    <textarea name="formula" class="form-control" rows="4" id="formula" required></textarea>
</div>
<div class="form-group">
    <label>Write any information below, not on the label that is on the container.</label>
    <textarea name="generalInfo" class="form-control" rows="4" id="formula"></textarea>
</div>
<div id="wineInfo" style="display:none;">
    <hr>
    <h3>Wine Specific Information</h3><br>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Grape Varietal</label>
                <input name="grapeVarietal" class="form-control" placeholder="Grape Varietal" type="text">
            </div>
            <div class="form-group">
                <label>Wine Appelation</label>
                <input name="wineAppelation" class="form-control" placeholder="Wine Appelation" type="text">
            </div>
        </div>
        <div class="col-sm-6">

            <div class="form-group">
                <label>Vintage</label>
                <input name="vintage" class="form-control" placeholder="Vintage" type="text">
            </div>
            <div class="form-group">
                <label>pH Level</label>
                <input name="pH" class="form-control" placeholder="pH" type="text">
            </div>
        </div>
    </div>
</div>
