<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm">
        </div>
        <div class="col-md-6 col-sm-12"> 
            <div class="well well-lg">
                <div align="center">
                    <h2>Login</h2>
                    <br>
                    <br>
                </div>
                <div>
                    <form action="login" method="post">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <label for="email">Email:</label>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <label for="pwd">Password:</label>
                                <input name="password" type="password" class="form-control" id="pwd" placeholder="Enter password" required>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary" style="width:100%;">Login</button>
                            </div>
                            <div class="col-md-1">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-sm">
        </div>
    </div>
    <script>
        var em = getEmail();
        document.getElementById("email").setAttribute("value",em);
    </script>
</div>
