<div class="container">
    <div class="well">
        <form action="/SuperSlackers/form/edit" method="post">
            <fieldset id="appForm" disabled>
            ##FORM_CONTENT
            </fieldset>
        </form>
        <form action="/SuperSlackers/form/process?id=##ID&action=accept" method="POST">
            <button class="btn btn-success" style="width:100%; margin-top: 30px;">Accept</button>
        </form>
        <form action="/SuperSlackers/form/process?id=##ID&action=reject" method="POST">
            <button class="btn btn-danger" style="width:100%; margin-top: 30px;">Reject</button>
        </form>
    </div>
    <script>
        fillForm();
    </script>
</div>