<!DOCTYPE html>
<html lang="en">
<head>
	<title>Application Review</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container">
	<form class="well span4" role="form" style="">
		<div class="row">
			<div class="col-md-4">
				<h2>Application Review</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div>
					<h3>Applicant Information</h3>
					<hr>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label>Representative ID</label>
					<div>xxx-xxxx-xxx</div>
				</div>

				<div class="form-group">
					<label>Email Address</label>
					<div>john@doe.com</div>
				</div>

				<div class="form-group">
					<label>Applicant Address</label>
					<div># Street Road, City</div>
				</div>

				<div class="form-group">
					<label>Country</label>
					<div>country</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Basic Permit No.</label>
					<div>xx-xx-xx</div>
				</div>

				<div class="form-group">
					<label>Phone Number</label>
					<div>xxx-xxx-xxxx</div>
				</div>

				<div class="form-group">
					<label>Mailing Address</label>
					<div># Street Road, City</div>
				</div>

				<div class="form-group">
					<label>Country</label>
					<div>country</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Product Information</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Brand Name</label>
					<div>name</div>
				</div>
				<div class="form-group">
					<label>Alcohol Content</label>
					<div>xxx.x%</div>
				</div>
				<div class="form-group">
					<label>Source of Product</label>
					<div>Imported/Domestic</div>
				</div>
				<div class="form-group">
					<label>Source</label>
					<div>Beer/Wine/Distilled</div>
				</div>
				<div class="form-group">
					<label>Label</label>
				</div>
				<div class="form-group">
					<img alt="Label.jpg" width="233" height="144">
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary button-block" type="accept">
						Accept
					</button>
					<button type="button" class="btn btn-primary button-block" type="reject">
						Reject
					</button>
					<button type="button" class="btn btn-primary button-block" type="return">
						Return to Application Selection
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
</html>