<!DOCTYPE html>
<html lang="en"><head>
		<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>

	<div class="container">
		<h2>Label Search</h2>
		<div>
			<form action="SuperSlackers" method="post">
				<div class="row">
					<div class="col-md-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" id="keywords">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit" value="">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
                                            <br>
						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#advanced">Advanced</button>

						<div id="advanced" class="collapse">
							<ul class = "pagination">
								<li class="active"><a href="#Wine" data-toggle="tab">Wine</a></li>
								<li><a href="#Beer" data-toggle="tab">Beer</a></li>
							</ul>
							<div class="form-group">
								<label>Alcohol Content</label>
								<input class="form-control" placeholder="Values between 0.0 - 100.0" type="text" id="alcoholContent">
							</div>

							<div class="form-group">
								<label>Origin Location</label>
								<input class="form-control" placeholder="Origin Location" type="text" id="originLocation">
							</div>
							<div class="form-group">
								<label>Source of Product</label>
								<select class="form-control" id="subject" name="subject">
									<option selected value="na">
										Choose One:
									</option>
									<option value="Domestic">
										Domestic
									</option>
									<option value="Imported">
										Imported
									</option>
								</select>
							</div>
							<div class="tab-content">
								<div id = "Beer" class="tab-pane fade in active">


								</div>

								<div id = "Wine" class="tab-pane fade in active">

									<div class="form-group">
										<label>pH Level</label>
										<input class="form-control" placeholder="PH Level" type="text" id="pHLevel">
									</div>

									<div class="form-group">
										<label>Vintage Year</label>
										<input class="form-control" placeholder="Vintage Year" type="text" id="vintageYear">
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>

	</div>


	</body>
</html>
