<script type="text/javascript">
    function validateForm(field) {

        //regular expressions to check if the fields are valid
        var repIdReg = new RegExp(/\d+$/);
        var plantNumberReg = new RegExp(/\d+/);
        var phoneReg = new RegExp(/^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$/);
        var serialReg = new RegExp(/\w{1,10}/);
        var emailReg = new RegExp(/[/\S|\s]+?@[/\S|\s]+/);
        var alcoholContentReg = new RegExp(/^\d{1,3}$/);
        var addressReg = new RegExp(/^.+?\n.+?\n.+$/);
        var brandNameReg = new RegExp(/\w/);
        var formulaReg = new RegExp(/\w{3}/);
        var formula = document.getElementById("formula").value;
        if (formula.length < 3) {
            document.getElementById("formula").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("formula").style.backgroundColor = "#ffffff";
        }
        var brandName = document.getElementById("brandName").value;
        if (brandName === "") {
            document.getElementById("brandName").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("brandName").style.backgroundColor = "#ffffff";
        }
        var alcoholContent = document.getElementById("alcoholContent").value;
        if (!alcoholContentReg.test(alcoholContent)) {
            document.getElementById("alcoholContent").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("alcoholContent").style.backgroundColor = "#ffffff";
        }
        var serialNumber = document.getElementById("serialNumber").value;
        if (!serialReg.test(serialNumber)) {
            document.getElementById("serialNumber").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("serialNumber").style.backgroundColor = "#ffffff";
        }
        var address = document.getElementById("address").value;
        if (!addressReg.test(address)) {
            document.getElementById("address").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("address").style.backgroundColor = "#ffffff";
        }
        var mailAddress = document.getElementById("mailAddress").value;
        if (!addressReg.test(mailAddress) && mailAddress != "") {
            document.getElementById("mailAddress").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("mailAddress").style.backgroundColor = "#ffffff";
        }
        var email = document.getElementById("email").value;
        if (!emailReg.test(email)) {
            document.getElementById("email").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("email").style.backgroundColor = "#ffffff";
        }
        var phone = document.getElementById("phone").value;
        if (!phoneReg.test(phone)) {
            document.getElementById("phone").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("phone").style.backgroundColor = "#ffffff";
        }
        var plantNumber = document.getElementById("plantNumber").value;
        if (!plantNumberReg.test(plantNumber)) {
            document.getElementById("plantNumber").style.backgroundColor = "#ff8888";
        } else {
            document.getElementById("plantNumber").style.backgroundColor = "#ffffff";
        }

    }
</script>
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-xs-6">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Import from existing form
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="/SuperSlackers/form/import" method="GET">
                                <input placeholder="Existing TBB ID" type="text" name="existingId" class="form-control">
                                <button type="submit" class="btn btn-warning" style="width:100%;">Import</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6" align="right">
                <div class="dropdown" style="float: right;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Form View
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="btn btn-warning" type="button" style="width:100%;" data-toggle="dropdown" onClick="setCookie('SSVIEW_MODE', 'legacy', 5); location.reload();" >Legacy View</button>
                        </li>
                        <li>
                            <button class="btn btn-warning" type="button" style="width:100%;" data-toggle="dropdown" onClick="setCookie('SSVIEW_MODE', 'modern', 5); location.reload();">Modern View</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <form action="/SuperSlackers/form/create" method="post" enctype="multipart/form-data">
            ##FORM_CONTENT
            <button id="appSubmitNew" type="submit" class="btn btn-primary" style="width:100%; margin-top: 30px;">Submit</button>
        </form>
    </div>
    <script>
        fillForm();
    </script>
</div>
