<div class="container">
    <div class="well">
        <form action="/SuperSlackers/form/edit" method="post">
            <fieldset id="appForm" disabled>
            ##FORM_CONTENT
            </fieldset>
        </form>  
        <div id="hideUpload" style="display:none;"></div>
        <!--<div class="row">
            <div class="col-sm-1 col-md-2">
            </div>
            <div class="col-sm-10 col-md-8">
                <img id="lblImg" src="##LABEL_IMAGE_PATH" class="img-responsive" alt="Label Image">
            </div>
            <div class="col-sm-1 col-md-2">
            </div>                
        </div>-->
        ##ACTION_BUTTON
    </div>
    <script>
        fillForm();
    </script>
</div>